<% if turbo_frame_request? %>
  <%= turbo_frame_tag "member-profile" do %>
    <%= render "profile_card", user: @user, show_back_button: false, modal: true %>
  <% end %>
<% else %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <%= render "profile_card", user: @user, show_back_button: true, modal: false %>
    </div>
  </div>
<% end %>
